#
# Copyright (C) 2015 John Casey (jdcasey@commonjava.org)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# 1. Put in /etc/systemd/system/
# 2. Execute `systemctl enable indy-server` to install

[Unit]
Description=Indy Server Container
Requires=indy-volumes.service
After=indy-volumes.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/docker start -a indy
ExecStop=/usr/bin/docker stop -t 2 indy

[Install]
WantedBy=multi-user.target
